body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


 .ListaCarti{
    width:auto;
    padding:10px;
    float:left;
    border-bottom:2px solid green; 
 }

 .cautare{
    width:auto;
    align-content:center;
    padding:10px;
    float:inherit;
    border-bottom:2px solid green;
    margin-top:50px;
 }

 .action-bar{
      width:auto;
    padding:10px;
    float:inherit;
    border-top: 2px solid green;
    border-bottom:2px solid green;
    margin-top:50px;
    margin-bottom:50px;
 }

 .container body-content{
     position:absolute;
     bottom: 0;
     right:0;
     color:darkgoldenrod;
 }

 .time{
      position:fixed;
     bottom: 0;
     float:inherit;
     border-color:aqua;
     margin-left:50px;
     color:darkgoldenrod;
 }